*{
    margin: 0px;
    padding: 0px;
    font-family: poppins;
}

.sec5-wrapper{
    padding: 0px 100px;
    margin: 200px 0px 60px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sec-line{
    width: 50px;
    border-radius: 25px;
    padding: 0px 15px 0px 0px;
}

.sec-head{
    color: #0E2C55;
    font-size: 40px;
    font-weight: 800;
}

.sec5-left{
    width: 50vw;
    margin-left: -40px;
}

.sec-ul{
    margin: 30px 0px 0px 30px;
}

.sec-li{
    font-size: 17px;
    font-weight: 300;
    color: grey;
    padding-right: 50px;
    list-style: disc;
    line-height: 50px;
}

.sec-btn{
    border: none;
    text-align: center;
    height: 35px;
    padding: 0px 20px;
    margin: 30px 0px 0px 45px;
    background-color: #FDEA6A;
}
.sec-btn:hover{
    scale: 1.05;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }

.sec-img{
    height: 550px;
    width: 550px;
    margin-right: -40px;
}

@media (max-width: 768px) {
    .sec5-wrapper{
        padding: 0px 20px;
        margin: 20px 0px 60px 0px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .sec-line{
        width: 50px;
        border-radius: 25px;
        padding: 0px 6px 15px 0px;
    }
    .sec-scam{
        font-size: 30px;
        font-weight: 300;
        color: #0E2C55;
        margin: 0px 0px 0px 0px;
    }
    .sec-head{
        color: #0E2C55;
        font-size: 40px;
        font-weight: 800;
        padding: 0px 0px 0px 0px;
        text-align: center;
    }
    .sec-head{
        text-align: left;
        padding: 0px 0px 0px 0px;
        width: 100vw;
    }
    
    .sec5-left{
        width: 100vw;
        margin-left: 0px;
    }
    
    .sec-ul{
        margin: 30px 0px 0px 0px;
        width: 50vw;
    }
    
    .sec-li{
        font-size: 17px;
        font-weight: 300;
        color: grey;
        padding-right: 0px;
        list-style: disc;
        line-height: 50px;
    }
    
    .sec-btn{
        border: none;
        text-align: center;
        height: 35px;
        padding: 0px 20px;
        margin: 20px 0px 0px 45px;
        background-color: #FDEA6A;
    }
    
    .sec-img{
        height: 350px;
        width: 350px;
        margin: 250px 0px 0px -380px;
    }
}


@media (max-width: 480px) {
    .sec5-wrapper{
        padding: 0px 0px;
        margin: 0px 0px 50px 0px;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
    
.sec5-left{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    margin: 0px 20px 0px 20px;
}
.sec-line{
    width: 20px;
}
.scam{
    padding-left: 0px;
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 0px;
}
.sec-scam{
    margin: 0px 0px 0px 0px;
}

.sec-head{
    color: #0E2C55;
    font-size: 30px;
    font-weight: 700;
    margin: 0px 0px 0px 0px;
    padding: 0px 10px;
    text-align: center;
}

.sec-ul{
    margin: 10px 0px 0px 0px;
    width: 100vw;
}

.sec-li{
    font-size: 17px;
    font-weight: 300;
    color: grey;
    padding-right: 50px;
    list-style: disc;
    line-height: 35px;
}

.sec-btn{
    border: none;
    text-align: center;
    height: 40px;
    font-size: 12px;
    padding: 0px 20px;
    margin: 20px 0px 40px 0px;
    background-color: #FDEA6A;
}

.sec-right{
    display: flex;
    flex-direction: column;
    align-items: center;
   margin: 0px 0px 0px 0px;
}

.sec-img{
    height: 350px;
    width: 350px;
    margin: 0px 0px 0px 0px;
}

}

