nav{
  margin: 0;
  width: 100vw;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10%;
  box-shadow: 0 0 5px 0 rgba(102, 102, 102, 0.6);
  z-index: 2;
}
nav ul li{
  list-style-type: none;
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  color: rgba(102, 102, 102, 0.6);
  font-weight: light;
}
nav button{
  background-color: #FDEA6A;
  color: #333333;
  border: none;
  padding: 10px;
}
nav .hamburger{
  display: none;
}
.quote p:before{
  background-color: #C4C4C4;
  content: "";
  display: inline-block;
  height: 3px;
  position: relative;
  vertical-align: middle;
  width: 40px;
  right: 0.5em;
  margin-left: -55%;
}
.quote{
  color: #0e2c55;
  margin-top: 30vh;
}
.quote h1{
  font-weight: 700;
  font-size: 56px;
}
.feelings{
  margin-top: 15vh;
}
.scroll{
  float: left;
  margin-left: 5vw;
}
.scroll p{
  color: #666666;
}
.bluee{
  background-color: rgba(206, 228, 241, 0.24);
  position: absolute;
  align-items: center;
  justify-content: center;
  margin-top: 20vh;
  right: 0;
  width: 35%;
  display: flex;
  height: 600px;
}
.bluee img{
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.2);
  height: 80%;
  margin-right: 20vw;
  z-index: 1;
}
.text h2::before{
  background-color: #C4C4C4;
  content: "";
  display: inline-block;
  height: 3px;
  position: relative;
  vertical-align: middle;
  width: 40px;
  right: 0.5em;
}
.text h4::before{
  background-color: #C4C4C4;
  color: #0e2c55;
  content: "";
  display: inline-block;
  height: 3px;
  position: relative;
  vertical-align: middle;
  width: 40px;
  right: 0.5em;
}
.travels{
  margin-top: 20vh;
  margin-bottom: 10vh;
}


@media screen and (max-width: 960px) {
  nav{
    padding: 10px 20px;
  }
  nav ul{
    width: 100%;
    display: none;
  }
  nav .expanded .a{
    width: 100vw;
  }
  .expanded{
    background-color: #ffffff;
    top: 100%;
    height: calc(100vh - 25px);
    left: 0;
    margin: 0;
    position: absolute;
    justify-content: start;
    align-items: right;
    display: flex;
    flex-direction: column;
  }
  .expanded li{
    margin: 0;
    width: 100vw;
  }
  .expanded li:hover{
    background-color: #C4C4C4;
  }
  nav .hamburger{
    display: block;
    border: 0;
  }
}


@media screen and (max-width: 960px) {
  .bluee{
  background-color: rgba(206, 228, 241, 0.24);
  position: absolute;
  align-items: center;
  justify-content: center;
  margin-top: 32vh;
  right: 0;
  width: 35%;
  display: flex;
  height: 300px;
}
.bluee img{
  display: flex;
  box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.2);
  height: 80%;
  margin-right: 10vw;
  z-index: 1;
}
.travels{
  margin-top: 5vh;
}
}