*{
    margin: 0px;
    padding: 0px;
}
.top-div{
    padding-top: 10em;
}

  #qoutify{
    left: 11em;
  }

#home-jumbo{
    position: relative;
  margin: auto;
  width: 70%;
}


#h1-center{
    text-align: center;
}

#line{
    /* border: 2px solid #C4C4C4; */
   width: 10px;
}

#line-img{
    width: 20px;
}

#quote{
    top: 3px;
    left: 2px;
    font-family: 'Poppins';
font-style: 40px;
line-height: 58px;
letter-spacing: 0.02em;
color: #0E2C55;
}

#actual-quote > h1 {
font-family: 'Poppins';
font-style: normal;
font-weight: 800;
font-size: 50px;
line-height: 58px;
letter-spacing: 0.02em;
color: #0E2C55;
}

#feel{
    text-align: center;
    margin-top: 6em;
}
#feel > p{
    font-size: 18px;
}

 .modal-backdrop{
  background-color:#fcf2b9;
  opacity: 0.2;
} 

.modal-em:hover{
  backdrop-filter: blur(10px);
  filter: blur(2px);
  transition: 0.5s ease;
}


#scroll-down {
  position:relative;
  right: 0;
  bottom: 0em;
  top: 12em;
  margin-top: -270px;
  left: 10em;
  width: 34px;
  height: 55px;
}

.mousey {
  width: 3px;
  padding: 10px 15px;
  height: 35px;
  border: 2px solid #737373;
  border-radius: 25px;
  opacity: 0.75;
  box-sizing: content-box;
}
.scroller {
  width: 3px;
  height: 10px;
  border-radius: 25%;
  background-color: black;
  animation-name: scroll;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(.15,.41,.69,.94);
  animation-iteration-count: infinite;
}
@keyframes scroll {
  0% { opacity: 0; }
  10% { transform: translateY(0); opacity: 1; }
  100% { transform: translateY(15px); opacity: 0;}
}


#landingCta{
  background-image: url("../../assets/bacground1.png");
background-repeat: no-repeat;
background-position: right top;
background-size: 1050px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 250px 0px 0px 0px;
}

.intro-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
}

  .landing-top{
    font-family: poppins;
   padding: 0px 30px 20px 30px;
   margin: 0px 0px 0px 25px;
   width: 60vw;
  }

.landing-headline{
    font-style: normal;
    color: #0E2C55;
    font-size: 50px;
    font-weight: 800;
    margin-top: 50px;

}

.intro-btn{
  border: none;
  text-align: center;
  height: 35px;
  padding: 0px 20px;
  margin: 30px 0px;
  background-color: #FDEA6A;
}

.intro-words{
  letter-spacing: 0.05rem;
  word-spacing: 0.12rem;
  font-size: 18px;
  color: grey;
  margin-top: 30px;
  width: 40vw;
}

.right-side{
  width: 40vw;
}

.intro-pic{
  height: 600px;
  /* width: 450px; */
  padding: 0px 15px 0px 0px;
}

/* BOTTOM */

.intro-bottom{
  background-color: rgba(255, 138, 0, 0.04);
  margin-top: 0px;
  margin-bottom: -17px;
}
.span-div{
  margin: -60px 0px -80px 0px;
}

.span-txt{
  padding: 0px 0px 0px 260px;
}

.line{
  margin: -25px 0px 15px 265px;
  border: 6px solid #f3d40d;
  border-radius: 5px;
  height: 10px;
}
.con-line{
  width: 295px;
}
.ess-line{
  width: 235px;
}
.easy-line{
  width: 115px;
}
.cre-line{
  width: 215px;
}
.acc-line{
  width: 275px;
}

.intro-ul{
  display: flex;
  align-items: center;
  padding: 40px 0px 40px 0px;
  justify-content: space-evenly;
  list-style-type: none;
  font-size: 22px;
  color: rgba(102, 102, 102, 0.6);
}

Link{
  text-decoration: none;
}

.content{
   /* position: absolute; */
   text-align: left;
   background-color: white;
   color: #666666;
   border: 0px solid black;
   border-radius: 10px;
   line-height: 45px;
   padding: 50px;
   width: 450px;
   margin-top: -350px;
   margin-left: 200px;
   box-shadow: 5px 10px 18px #888888;
}

.default{
  line-height: 40px;
  text-align: center;
}

.hover{
    font-size: 12px;
}

           /* MEDIA QUERIES */
 @media (max-width: 768px) {
  #feel{
    text-align: center;
    margin-top: 3em;
}
#home-jumbo{
  position: relative;
margin: auto;
margin-top: -75px;
margin-bottom: -80px;
width: 70%;
}
#scroll-down {
  position:relative;
  right: 0;
  bottom: 0em;
  top: 10em;
  left: 5em;
  width: 34px;
  height: 55px;
}
.landingCta{
  background-image: url("../../assets/bacground1.png");
background-repeat: no-repeat;
background-position: bottom bottom;
  background-size: 1450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px 0px 0px 0px;
  position: relative;
}

.landing-top{
  position: relative;
  font-family: poppins;
 padding: 0px 20px 20px 20px;
 margin: -90px 0px 0px 0px;
 width: 100vw;
}

.landing-headline{
  font-style: normal;
  color: #0E2C55;
  font-size: 50px;
  font-weight: 700;
  width: 100%;
}

.intro-btn{
border: none;
text-align: center;
height: 35px;
padding: 0px 20px;
margin: 20px 0px;
background-color: #FDEA6A;
}

.intro-words{
letter-spacing: 0.05rem;
word-spacing: 0.5rem;
font-size: 18px;
color: grey;
margin-top: 30px;
width: 50vw;
}
.right-side{
  width: 100vw;
  position: absolute;
  margin-top: -190px;
}
.intro-pic{
  width: 300px;
  height: 400px;
  margin: 250px 0px 0px 0px;
  float: right;
}
.intro-bottom{
  background-color: rgba(255, 138, 0, 0.04);
  margin-top: 25px;
}

.intro-ul{
  display: flex;
  align-items: center;
  padding: 40px 0px 20px 0px;
  justify-content: space-evenly;
  list-style-type: none;
  font-size: 18px;
  color: rgba(102, 102, 102, 0.6);
}

 }


@media (max-width: 480px) {
  *{
    margin: 0px;
    padding: 0px;
  }
  .top-div{
    margin: 0px 30px 0px 0px;
  }
  #home-jumbo{
  position: relative;
  margin: auto;
  margin: -75px 50px -120px 20px;
  width: 100%;
  }
  #qoutify{
    margin-left: 50px;
  }
  #actual-quote > h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-size: 30px;
    font-weight: 800;
    line-height: 40px;
    letter-spacing: 0.02em;
    color: #0E2C55;
    }
  #scroll-down {
    position:relative;
    right: 0;
    bottom: 0em;
    top: 9em;
    left: 1em;
    width: 34px;
    height: 55px;
  }
  .landingCta{
    background-image: url("../../assets/bacground1.png");
  background-repeat: no-repeat;
  background-position: center;
    background-size: 1500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px 0px 0px 0px;
  }
  
  .modal-content{
    margin-top: 150px;
  }

  .intro-top{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }
  
  .landing-top{
    font-family: poppins;
   padding: 20px 10px 20px 20px;
   margin: -150px 0px 0px 0px;
   width: 100%;
  }
  
  .landing-headline{
    font-style: normal;
    color: #0E2C55;
    font-size: 35px;
    font-weight: 800;
    width: 100%;
  }
  .span-div{
    /* margin: -43px 0px -60px 0px; */
    margin: 0px 0px -60px 0px;
  }
  .span-txt{
    /* padding: 0px 0px 0px 185px; */
    padding: 0px 0px 0px 0px;
  }
  .right-side{
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 30px 0px 55px;
    margin: 0px 20px;
  }
  .intro-btn{
  border: none;
  text-align: center;
  height: 35px;
  padding: 0px 20px;
  margin: 20px 0px;
  background-color: #FDEA6A;
  }
  
  .intro-words{
  letter-spacing: 0.05rem;
  word-spacing: 0.5rem;
  font-size: 13px;
  color: grey;
  margin: 20px 0px 10px 0px;
  width: 80vw;
  }
  .intro-pic{
    width: 350px;
    height: 350px;
    margin: 0px 0px 0px 0px;
  }
  .intro-bottom{
    background-color: rgba(255, 138, 0, 0.04);
    margin-top: 0px;
  }

  .line{
    margin: -22px 0px 20px 0px;
    border: 6px solid #f3d40d;
    border-radius: 5px;
    height: 10px;
  }
  .con-line{
    width: 210px;
  }
  .ess-line{
    width: 170px;
  }
  .easy-line{
    width: 90px;
  }
  .cre-line{
    width: 155px;
  }
  .acc-line{
    width: 195px;
  }
  
  .intro-ul{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px 0px 10px 0px;
    justify-content: space-evenly;
    list-style-type: none;
    font-size: 10.5px;
    color: rgba(102, 102, 102, 0.6);
  }
}