*{
    margin: 0px;
    padding: 0px;
    font-family: poppins;
}

.foo-wrapper{
    display: flex;
    justify-content: space-between;
    padding: 50px 70px;
    color: white;
    background-color: #0E2C55;
}

.foo-title{
    font-size: 22px;
    font-weight: 500;
    margin: 0px 10px -20px 0px;
}

.foo-ul{
    list-style-type: none;
    margin-top: 13px;
}

.ul-right{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 0px;
}

.foo-left{
}

.foo-middle{
}

.foo-right{
    margin-left: -150px;
}

hr{
    border-color: inherit
}

.foo-li{
     font-size: 12px;
     line-height: 22px;
     margin-left: -25px;
}

.li-right{
    padding: 15px;
    height: 5px;
    width: 5px;
}

.foo-img{
    height: 75px;
    width: 75px;
    padding: 20px 12px;
}

.foot-btm{
    text-align: center;
    padding-top: 12px;
    font-size: 12px;
}

.f-icon{
    height: 20px;
    width: 20px;
    padding: 10px;
    margin: 0px 15px;
    background-color: #6190ea;
    border-radius: 50%;
}


@media (max-width: 480px) {
    *{
        margin: 0px;
        padding: 0px;
        font-family: poppins;
    }
    
    .foo-wrapper{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        padding: 50px 0px;
        color: white;
        background-color: #0E2C55;
    }
    
    .foo-title{
        font-size: 22px;
        font-weight: 500;
        margin: 0px 0px -18px 0px;
    }
    
    .foo-ul{
        list-style-type: none;
        margin-top: 13px;
    }
    
    .ul-right{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-left: 0px;
    }
    
    .foo-left{
        margin-bottom: 20px;
    }
    
    .foo-middle{
        margin: 0px 90px 20px 0px;
    }
    
    .foo-right{
        margin-left: 0px;
    }
    
    hr{
        border-color: inherit
    }
    
    .foo-li{
        width: 100%;
         font-size: 12px;
         line-height: 22px;
         margin-left: -25px;
    }
    
    .li-right{
        padding: 15px;
        height: 5px;
        width: 5px;
    }
    
    .foo-img{
        height: 75px;
        width: 75px;
        padding: 20px 12px;
    }
    
    .foot-btm{
        text-align: center;
        padding-top: 12px;
        font-size: 12px;
    }
    
    .f-icon{
        height: 20px;
        width: 20px;
        padding: 10px;
        margin: 0px 15px;
        background-color: #6190ea;
        border-radius: 50%;
    }
}